.red {background: crimson;
      height: 100px;
      width: 100px;
      z-index: 1;}

.blue {background: blue;
       height: 100px;
       width: 100px;
       position: relative;
       top: -50px;
       left: 50px;
       z-index: 2;}

.green {background: green;
        height: 100px;
        width: 100px;
        position: relative;
        top: -100px;
        left: 100px;
        z-index: 1;}